*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

.oferta-container{
    background-color: #222222;
    width: 100%;
    

}

.oferta-container div{
    display: flex;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    
}

.img-seta{
width: 10px;

}

.select span{
   display: inline-block;
   padding: 10px; 
    
}

.img-seta.animal{
    width: 18px;

}

.header-container{
    width: 100%;
    background-color: #f0a83e;
    padding: 14px 0;
    
}

.header-content{
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.header-logo{
    display: flex;
    align-items: center;

}
.header-logo h2 span{
    color: white;

}

.navegation-list{
    display: flex;
    font-size: 13px;
    align-items: center;
}

.navegation-list li a{
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 10px 5px;

}

.home-container{
    width: 100%;
    background-image: url(img/bowl-and-pet-daities-on-green-background\ 1.svg);
    background-size: cover;
    height: 409px;
    background-position: center;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 20px;
}

.home-content{
    display: flex;
    max-width: 365px;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

.home-title{
    background-color: white;
    font-size: 1.875rem;
    padding: 10px 25px;
    border-radius: 5px;
    margin-bottom: 12px;

}

.btn{
    display: inline-block;
    color: white;
    padding: 15px 17px;
    background-color: #f0a83e;
    border-radius: 5px;
    margin-top: 12px;

}

.produtos{
    display: flex;
    align-items: center;
    flex-direction: column;
   
}

.produtos h2{
    font-size: 50px;
    color: #3C2313;
    
}

.produtos p{
    color: #666666;
    margin: 15px;
}

.paw5{
    
    width: 300px;
    height: 300px;
    padding: 50px;
    
}